.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  background-color: black;
  min-height: 100vh;
}

div:has(label) {
  margin-bottom: 4rem;
}
div div:last-child {
  color: red;
}
label {
  display: block;
  color: whitesmoke;
}
input {
  padding: 1em;
  background-color: aliceblue;
  border: 0;
}
button {
  padding: 1em 2em;
  font-size: 1.3rem;
  background-color: lime;
  border: 0;
  outline: 0;
}
